.color-of__containers {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
  width: 100%;
  max-width: 960px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
  background-color: $color-gray;

  @include breakpoint(small) {
    position: fixed;
    bottom: -91px;
    width: 100%;
    opacity: 0;
    transition: bottom 500ms, opacity 400ms;
    grid-template-columns: repeat(3, 1fr);
  }
}

.trigger {
  display: none;

  @include breakpoint(small) {
    position: fixed;
    display: block;
    width: 40px;
    height: 45px;
    right: 13px;
    bottom: -2px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgba($color-red, 0.6);
    transform: rotate(90deg);
    transition: bottom 500ms;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='#fff' d='M12.586 27.414l-10-10a2 2 0 010-2.828l10-10a2 2 0 112.828 2.828L8.828 14H28a2 2 0 110 4H8.828l6.586 6.586c.39.39.586.902.586 1.414s-.195 1.024-.586 1.414a2 2 0 01-2.828 0z'/%3E%3C/svg%3E");
      transform: translate(50%, 55%);
      width: 50%;
      height: 50%;
      line-height: 100%;
      font-size: 3rem;
    }
  }
}

.active-menu {
  .trigger {
    bottom: 88px;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='#fff' d='M19.414 27.414l10-10a2 2 0 000-2.828l-10-10a2 2 0 10-2.828 2.828L23.172 14H4a2 2 0 100 4h19.172l-6.586 6.586c-.39.39-.586.902-.586 1.414s.195 1.024.586 1.414a2 2 0 002.828 0z'/%3E%3C/svg%3E");
    }
  }

  .color-of__containers {
    bottom: 0;
    opacity: 1;
  }
}

.color__trash {
  position: relative;
  color: $color-white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 55px;
  font-size: 1.4rem;
  line-height: 100%;

  @include breakpoint(small) {
    height: 45px;
    padding: 0 2px;
    font-size: 1.2rem;
  }
}

@each $name,
$hex in $colors {
  .#{$name} {
    background: linear-gradient(to top, darken($hex, 10%) 50%, $hex 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: all 500ms ease-out;
    cursor: pointer;

    &:hover {
      background-position: bottom;
    }
  }
}