.menu__toggler {
  display: flex;
  align-items: center;
  cursor: pointer;
  span {
    position: absolute;
    content: "";
    width: 20px;
    margin-left: 8px;
    height: 2.5px;
    background: #fafafa;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 20px;
      // left: 8px;
      height: 2.5px;
      background: #fafafa;
      border-radius: 20px;
      transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
    }

    &::before {
      top: -8px;
    }

    &::after {
      top: 8px;
    }
  }

  &.active > span {
    background: transparent;

    &::before,
    &::after {
      // background: #005c9c;
      top: 0px;
    }

    &::before {
      transform: rotate(-225deg);
    }

    &::after {
      transform: rotate(225deg);
    }
  }
}

.active-menu {
  overflow: hidden;
}

.menu__scroll {
  overflow: auto;
  max-width: 960px;
  margin: 0 auto;
}

.menu {
  position: fixed;
  top: 0;
  left: -120%;
  z-index: 998;
  color: $color-black;
  background: #fafafa;
  min-width: 100%;
  height: 100%;
  padding: 100px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);

  &.active {
    left: 0;
  }

  h2 {
    font-weight: 700;
    font-size: 2rem;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  @media (max-width: 600px) {
    width: 100%;
    left: -120%;
    padding: 60px 20px 20px;
  }
}
