body,
.menu {
  &::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
    &:hover {
      background-color: #f4f4f4;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 2px solid #fff;
    &:hover {
      background-color: #a0a0a5;
    }
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}
