.social-buttons {
  position: absolute;
  // right: 30px;
  max-width: 140px;
  top: 31px;
  height: 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .icon {
    // flex: 0 0 36px;
    cursor: pointer;
    border: 1px solid #cccccc;
    padding: 5px 5px 2px;
    border-radius: 3px;
    margin: 0 5px;

    &:hover {
      border: 1px solid #858585;
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }

  @media (max-width: 480px) {
    top: 21px;
    right: 20px;
  }

}