// colors
$purple: #49063e;
$gray: #444;
$white: #fff;
$light: #eee;
$primary: #ddd;
$black: #000;
$dark: #232323;
$green: #3e9b67;

$color-brown: #8f623d;
$color-yellow: #f9af2f;
$color-blue: #036bb5;
$color-green: #44ad34;

$color-gray: #505050;
$color-red: #ff0000;
$color-violet: #d200e6;

$gray-light: #bdbdbd;
$gray-lighten: #777;
$background-info: #fafafa;
$webkit-scrollbar: #f4f4f4;
$webkit-scrollbar-thumb: #babac0;
$webkit-scrollbar-thumb-hover: #a0a0a5;


// maps colors
$colors: ("other": $color-violet,
  "brown": $color-brown,
  "yellow": $color-yellow,
  "blue": $color-blue,
  "green": $color-green,
  "black": $black,
  "gray": $color-gray,
  "reset": $black);

// maps breakpoins
$breakpoints: (small: 600px, medium: 960px, large: 1200px);

// @mixin for breakpoint
@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{ map-get( $breakpoints, $breakpoint ) }) {
      @content;
    }
  }

  @else if type_of($breakpoint)==number and unit($breakpoint)==px or unit($breakpoint)==em or unit($breakpoint)==rem {
    @media (max-width: $breakpoint) {
      @content;
    }
  }

  @else {
    @warn "Nie można pobrać żadnej wartości z `#{$breakpoint}`. Nie jest zdefiniowany w mapie `$breakpoints` lub jest nieprawidłową liczbą px, em, lub rem.";
  }
}