.no__result.hidden
  .title Brak wyników,
  p Sprawdź czy wpisany tekst jest poprawny, jeżeli tak to widocznie czegoś nam brakuje. Napisz do nas swoją propozycję to sprawdzimy i dopiszemy ją do naszej listy 
    span(class="no__result--mail")