mixin section(object)
  each element, index in object.objectTest
    // ----------------------------------------------
    section
      h2(class="title__info " + element.color) !{element.title}
      strong Nie wyrzucamy:
      ul
        each item in element.elements
          li= item

      strong Wskazówki: <br/>
      ul
        each tip in element.tips
          li= tip