block variables
- var path = self.htmlWebpackPlugin.options

doctype html
html(lang="pl")

  include ./includes/head.pug
  include ./includes/google-analytics.pug
  include ./includes/google-tag-manager-top.pug
  include ./includes/google-tag-manager-bottom.pug
  include ./includes/section.pug

  head
    +head(path)
    if path.type
      +google(path)
      +googleGTMtop(path)

  body
    if path.type
      +googleGTMbottom(path)
    .list__trash
      .form__search
        .container
          input(type="text" id="search" name="search" placeholder="szukaj 콑mieci ...")
          button(class="info menu__toggler", aria-label="dodatkowe informacje")
            span
          label(for="search" class="type__trash")
          .menu
            .menu__scroll

              // sekcja witamy
              section.info-section
                h1 Witamy w naszej aplikacji.
                | Sortowanie mo콮e by캖 r칩콮ne w zale콮no콑ci od gminy. <br />Je콮eli masz jakie콑 uwagi lub chcesz doda캖 #[strong "콐MIE캕"] do listy, wy콑lij nam informacj캧 na adres 
                span.email
                //- ul.info-section-first
                //-   li Nie myjemy opakowa켻, s켹oik칩w i innych odpad칩w.
                //-   li Opr칩콮niamy opakowania z resztek zawarto콑ci.
                //-   li Odrywamy wieczka od pojemnik칩w.
                //-   li Zgniatamy puszki, butelki plastikowe i inne mo콮liwe odpady.
                //-   li Nie wrzucamy mi캧sa do BIO, tylko resztki ro콑linne.
                //-   li Wyrzucamy odpady BIO luzem, ewentualnie w torebkach papierowych lub foliowych.
                //-   li Segregujemy tylko czysty papier, brudny trafia do ZMIESZANYCH.
              // pozosta켹e sekcje [BIO, metale i tworzywa sztuczne, papier, szk켹o, zmieszane]
              +section(path.file)


    // miejsce wstrzykiwania listy 콑mieci
    .color-of__containers
    
    // sekcja no result
    include ./includes/no-result.pug

    script(type="application/ld+json").
      {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "url": "https://naodpady.pl",
        "name": "naOdpady - Jak segregowa캖 콑mieci?",
        "image": "https://naodpady.pl/static/app_512x512.png",
        "description": "游딈 Jak segregowa캖 콑mieci? Co gdzie wrzuca캖? Pojemniki BIO, Metale i tworzywa sztuczne, papier, szk켹o, zmieszane."
      }
